@import "variables";
@import "functions";
@import "mixins";

@import "aeroplan-blocks/aero-plan-popper";
@import "aeroplan-blocks/aeroplan-dashboard";
@import "aeroplan-blocks/toggle-floors";
@import "aeroplan-blocks/zoom-actions";
@import "aeroplan-blocks/plans-filter-form";
@import "aeroplan-blocks/plans-search-form";

.aero-plans__floor {
  width: 100%;
  height: 100%;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: $gray-245;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;

  svg {
    width: 100%;
    height: 100%;
  }

  &--active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.plan-place {
  fill: hsl(236, 72%, 72%);
  stroke: #fff;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-linecap: round;
  transition: 0.2s;

  &:hover {
    fill: hsl(236, 72%, 64%);
  }

  &--hovered {
  }

  &--filtered {
    fill: #4fb1ff;

    &:hover {
      fill: darken(#4fb1ff, 8%);
    }

    &.plan-place--hovered {
      fill: darken(#4fb1ff, 8%);
    }
  }

  &--active {
    fill: #de4383;

    &:hover {
      fill: #de4383;
    }
  }

  &--selected {
    fill: #de4383;

    &.plan-place--hovered {
      fill: darken(#de4383, 8%);
    }
  }
}

.logos-group {
  pointer-events: none;
}

.help-markers-group {
  fill: hsl(232, 20%, 60%);
}

.aeroplan-map {
  position: relative;
}

.aeroplan-map__toggle-floors {
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 5;

  @include mq-min(768px) {
    right: 28px;
    bottom: 28px;
  }
}

.aeroplan-map__zoom-actions {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 5;

  @include mq-min(768px) {
    top: 28px;
    right: 28px;
  }
}

.aero-plans {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: center;
  height: 50vh;
  min-height: 440px;
  max-height: 600px;

  @media (max-width: 767px) and (orientation: landscape) {
    height: 84vh;
    min-height: 320px;
    max-height: 400px;
  }

  @include mq-min(1280px) {
    min-height: 460px;
  }

  @include mq-min(1920px) {
    height: 56vh;
  }

  @media (min-height: 1200px) {
    height: 56vh;
    max-height: 720px;
  }
}

.boundary-group-fill,
.boundary-group-stroke,
.inner-boundary-group {
  pointer-events: none;
}

.plan-floor-boundary-fill {
  fill: #e4e4e4;
}

.plan-floor-boundary-stroke {
  fill: none;
  stroke-width: 4px;
  stroke: #0d47a1;
  stroke-linejoin: round;
}

.plan-floor-inner-boundary {
  fill: $gray-245;
  stroke: darken($gray-245, 8%);
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}
