@import "variables";
@import "functions";
@import "mixins";

@import "aeroplan-blocks/toggle-floors";
@import "aeroplan-blocks/zoom-actions";
@import "aeroplan-blocks/plans-filter-form";
@import "aeroplan-blocks/plans-search-form";

.plan-place {
  fill: #b5b0f7;
  stroke: #fff;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-linecap: round;
  transition: 0.2s;

  &:hover {
    fill: darken(#b5b0f7, 8%);
  }

  // &--hovered {
  //   // fill: #8e89d8;
  //   fill: darken(#b5b0f7, 8%);
  // }

  &--filtered {
    fill: #4fb1ff;

    &:hover {
      fill: darken(#4fb1ff, 8%);
    }

    &.plan-place--hovered {
      fill: darken(#4fb1ff, 8%);
    }
  }

  &--active {
    fill: #de4383;

    &:hover {
      fill: #de4383;
    }
  }

  &--selected {
    fill: #de4383;

    &.plan-place--hovered {
      fill: darken(#de4383, 8%);
    }
  }
}

.boundary-group-fill {
  path {

  }
}

.logos-group {
  pointer-events: none;
}

.aero-map {
  position: relative;
}

.aero-map__toggle-floors {
  position: absolute;
  right: 28px;
  bottom: 28px;
  z-index: 5;
}

.aero-map__zoom-actions {
  position: absolute;
  top: 28px;
  right: 28px;
  z-index: 5;
}

.aero-plans {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: center;
  height: 50vh;
  min-height: 440px;
  max-height: 600px;
}

.plan-floor-boundary-fill {
  fill: #e4e4e4;
}

.plan-floor-boundary-stroke {
  fill: none;
  stroke-width: 4px;
  stroke: #0d47a1;
  stroke-linejoin: round;
  pointer-events: none;
}

.aero-plans__floor {
  width: 100%;
  height: 100%;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: $gray-234;
  background-image: linear-gradient(to top right, $gray-234, $gray-228);
  transition: 0.2s;

  // height: 440px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;

  svg {
    width: 100%;
    height: 100%;
  }

  &--active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.aero-plan-popper {
  max-width: 300px;
  padding: 15px;
  line-height: 1.15;
  font-size: 16px;
  hyphens: auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 16px rgba(#000, 0.1);
  box-sizing: border-box;
  user-select: none;
  // pointer-events: none;

  &:empty {
    display: none;
  }

  & :empty {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translateX(-50%) rotate(45deg);
    background-color: #fff;
    border-radius: 2px;
  }

  p {
    margin: 0;
    margin-top: 8px;
  }

  // &[x-placement="top"] {
  //   &::after {
  //     top: calc(100% - 5px);
  //   }
  // }

  // &[x-placement="bottom"] {
  //   &::after {
  //     bottom: calc(100% - 5px);
  //   }
  // }

  &[x-out-of-boundaries] {
    display: none;
  }

  &--has-interaction {
    // pointer-events: all;
  }
}

.aero-plan-popper__title {
  margin: 0;
  // font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
}
