.toggle-floors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1); }

.toggle-floors__item {
  position: relative; }

.toggle-floors__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  color: #212121;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  outline: none; }
  .toggle-floors__button:hover {
    color: #ffffff;
    background-color: #928bf3; }
  .toggle-floors__item--active .toggle-floors__button {
    color: #ffffff;
    background-color: #8178f1;
    cursor: default; }

.toggle-floors__badge-value {
  position: absolute;
  top: 2px;
  right: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 12px;
  height: 12px;
  padding: 0 2px;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  line-height: 1;
  color: #7a7a7a;
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .toggle-floors__badge-value:empty {
    display: none; }

.zoom-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1); }

.zoom-actions__button {
  display: block;
  padding: 12px;
  color: #d6d6d6;
  background-color: #ffffff;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #eaeaea; }
  .zoom-actions__button:last-child {
    border-right: none; }
  .zoom-actions__button:hover {
    color: #7a7a7a; }
  .zoom-actions__button:active {
    color: #212121;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s; }

.zoom-actions__button-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  pointer-events: none; }

.plans-filter-form {
  display: grid;
  gap: 36px;
  grid-template-columns: 1fr auto;
  max-width: 960px;
  margin-bottom: 40px; }

.plans-filter-form__fields {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr); }

.plans-filter-form__select select {
  padding-top: 8px;
  padding-bottom: 8px; }

.plans-filter-form__reset {
  min-width: auto;
  padding: 8px 12px;
  color: #212121;
  background-color: #e4e4e4; }

.plans-search-form {
  position: relative;
  z-index: 10;
  margin-bottom: 20px; }

.plans-search-form__input {
  padding-right: 52px; }

.plans-search-form__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden; }
  .plans-search-form__field--filled .plans-search-form__button {
    opacity: 1;
    visibility: visible; }

.plans-search-form__result-list {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff; }

.autocomplete-list {
  max-height: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  overscroll-behavior-y: contain; }

.autocomplete-list__item {
  padding: 12px;
  cursor: pointer;
  font-size: 14px; }
  .autocomplete-list__item:hover {
    background-color: #eeeeee; }
  .autocomplete-list__item--highlighted {
    background-color: #e4e4e4; }

.plan-place {
  fill: #a3a3f5;
  stroke: #fff;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-linecap: round;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .plan-place:hover {
    fill: #7e7ef1; }
  .plan-place--filtered {
    fill: #4fb1ff; }
    .plan-place--filtered:hover {
      fill: #269fff; }
    .plan-place--filtered.plan-place--hovered {
      fill: #269fff; }
  .plan-place--active {
    fill: #de4383; }
    .plan-place--active:hover {
      fill: #de4383; }
  .plan-place--selected {
    fill: #de4383; }
    .plan-place--selected.plan-place--hovered {
      fill: #d3256d; }

.logos-group {
  pointer-events: none; }

.aero-map {
  position: relative; }

.aero-map__toggle-floors {
  position: absolute;
  right: 28px;
  bottom: 28px;
  z-index: 5; }

.aero-map__zoom-actions {
  position: absolute;
  top: 28px;
  right: 28px;
  z-index: 5; }

.aero-plans {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  min-height: 440px;
  max-height: 600px; }

.plan-floor-boundary-fill {
  fill: #e4e4e4; }

.plan-floor-boundary-stroke {
  fill: none;
  stroke-width: 4px;
  stroke: #0d47a1;
  stroke-linejoin: round;
  pointer-events: none; }

.aero-plans__floor {
  width: 100%;
  height: 100%;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#eaeaea), to(#e4e4e4));
  background-image: linear-gradient(to top right, #eaeaea, #e4e4e4);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none; }
  .aero-plans__floor svg {
    width: 100%;
    height: 100%; }
  .aero-plans__floor--active {
    opacity: 1;
    visibility: visible;
    pointer-events: all; }

.aero-plan-popper {
  max-width: 300px;
  padding: 15px;
  line-height: 1.15;
  font-size: 16px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .aero-plan-popper:empty {
    display: none; }
  .aero-plan-popper :empty {
    display: none; }
  .aero-plan-popper::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1; }
  .aero-plan-popper::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    background-color: #fff;
    border-radius: 2px; }
  .aero-plan-popper p {
    margin: 0;
    margin-top: 8px; }
  .aero-plan-popper[x-out-of-boundaries] {
    display: none; }

.aero-plan-popper__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.15; }
