.aero-plans-filter-form {
  margin-bottom: 24px; }

.filter-select {
  font-size: 18px;
  font-family: inherit; }

.plan-place {
  fill: #b5b0f7;
  stroke: #fff;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-linecap: round;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  .plan-place--hovered {
    fill: #928bf3; }
  .plan-place--filtered {
    fill: #4fb1ff; }
    .plan-place--filtered.plan-place--hovered {
      fill: #269fff; }
  .plan-place--selected {
    fill: #de4383; }
    .plan-place--selected.plan-place--hovered {
      fill: #d3256d; }

.logos-group {
  pointer-events: none; }

.aero-plans-toggle-floors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 24px; }

.aero-plans-toggle-floors__item {
  position: relative; }

.aero-plans-toggle-floors__button {
  display: block;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 18px;
  font-family: inherit;
  background-color: #e7e7e7;
  border: none;
  border-radius: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }
  .aero-plans-toggle-floors__item--active .aero-plans-toggle-floors__button {
    background-color: #b5b0f7; }

.aero-plans-toggle-floors__badge {
  position: absolute;
  top: 0;
  right: 0; }

.aero-plans-toggle-floors__badge-value {
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  padding: 4px;
  font-size: 14px;
  line-height: 1;
  background-color: #fff;
  border-radius: 50%; }
  .aero-plans-toggle-floors__badge-value:empty {
    display: none; }

.zoom-actions {
  margin-bottom: 24px; }

.aero-plans-search-form {
  position: relative;
  z-index: 1; }

.aero-plans-search-form__input {
  display: block;
  width: 100%;
  padding: 10px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.aero-plans-search-form__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden; }
  .aero-plans-search-form__field--filled .aero-plans-search-form__button {
    opacity: 1;
    visibility: visible; }

.aero-plans-search-form__result-list {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff; }

.autocomplete-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 300px; }

.autocomplete-list__item {
  padding: 10px; }
  .autocomplete-list__item:hover {
    background-color: #eeeeee; }
  .autocomplete-list__item--highlighted {
    background-color: #e4e4e4; }

.aero-plans {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 440px; }
  .aero-plans svg {
    background-color: honeydew; }

.plan-floor-boundary {
  stroke-width: 4px;
  stroke: #0d47a1;
  fill: #e4e4e4;
  stroke-linejoin: round; }

.aero-plans__floor {
  width: 100%;
  height: 100%;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 440px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none; }
  .aero-plans__floor svg {
    width: 100%;
    height: 100%; }
  .aero-plans__floor--active {
    opacity: 1;
    visibility: visible;
    pointer-events: all; }

.aero-plan-popper {
  max-width: 300px;
  padding: 15px;
  line-height: 1.15;
  font-size: 16px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .aero-plan-popper:empty {
    display: none; }
  .aero-plan-popper :empty {
    display: none; }
  .aero-plan-popper::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1; }
  .aero-plan-popper::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    background-color: #fff;
    border-radius: 2px; }
  .aero-plan-popper p {
    margin: 0;
    margin-top: 8px; }
  .aero-plan-popper[x-placement="top"]::after {
    top: calc(100% - 5px); }
  .aero-plan-popper[x-placement="bottom"]::after {
    bottom: calc(100% - 5px); }
  .aero-plan-popper[x-out-of-boundaries] {
    display: none; }

.aero-plan-popper__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.15; }
