.aero-plan-popper {
  z-index: 5;
  max-width: 300px;
  padding: 14px;
  font-size: 16px;
  line-height: 1.15;
  hyphens: auto;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(#000000, 0.1),
              0 0 20px rgba(#000000, 0.1);
  box-sizing: border-box;
  user-select: none;

  &:empty {
    display: none;
  }

  & :empty {
    display: none;
  }

  p {
    margin: 0;
    margin-top: 8px;
  }

  &[x-out-of-boundaries] {
    display: none;
  }

  &--has-interaction {
    // pointer-events: all;
  }

  @include mq-min(768px) {
    font-size: 16px;
  }
}

.aero-plan-popper__link {
}

.aero-plan-popper__button {
  max-width: none;
  margin-top: 4px;
}

.aero-plan-popper__title {
  margin: 0;
  font-size: 16px;
  line-height: 1.15;

  &:empty {
    display: none;
  }

  @include mq-min(768px) {
    font-size: 24px;
  }
}

.aero-plan-popper__description {
  @include mq-max(767px) {
    display: none;
  }
}

.aero-plan-popper__title:empty + .aero-plan-popper__description {
  margin-top: 0;
}

.aero-plan-popper__shop-link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: currentColor;
  transition: color 0.2s;
  touch-action: manipulation;

  &:hover,
  &:focus {
    color: $primary-color;
  }
}
