.plans-search-form {
  position: relative;
  z-index: 10;
}

.plans-search-form__input {
  padding-right: 52px;
}

.plans-search-form__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 42px;
  color: var(--text-color);
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  opacity: 0;
  border: none;
  transition: 0.2s;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;

  .plans-search-form__field--filled & {
    opacity: 0.5;
    visibility: visible;

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 1;
      transition-duration: 0.1s;
    }
  }
}

.plans-search-form__button-icon {
  fill: currentColor;
}

.plans-search-form__result-list {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--aeroplan-search-result-bg);
  box-shadow: 0 6px 6px rgba(#000000, 0.1), 0 6px 20px rgba(#000000, 0.1);
}

.autocomplete-list {
  max-height: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  overscroll-behavior-y: contain;
}

.autocomplete-list__item {
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.2;

  &:hover {
    background-color: var(--aeroplan-search-result-item-bg-hover);
  }

  &--highlighted {
    background-color: var(--aeroplan-search-result-item-bg-highlighted);
  }

  b {
    display: block;
    margin-bottom: 4px;
    font-size: 18px;
  }
}
