.plans-filter-form {
  display: grid;
  gap: 20px;

  @include mq-min(667px) {
    grid-template-columns: 1fr auto;
  }
}

.plans-filter-form__fields {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.plans-filter-form__select {
  select {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.plans-filter-form__reset {
  min-width: auto;
  padding: 12px;
  color: $base-color;
  background-color: $gray-228;

  @include mq-min(667px) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
