.toggle-floors {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--bg-color);
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(#000000, 0.1), 0 0 20px rgba(#000000, 0.1);
}

.toggle-floors__item {
  position: relative;

  &--active {
  }
}

.toggle-floors__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: none;
  border-radius: 0;
  transition: 0.2s;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  user-select: none;

  &:hover {
    color: #ffffff;
    background-color: darken(#b5b0f7, 8%);
  }

  .toggle-floors__item--active & {
    color: #ffffff;
    background-color: darken(#b5b0f7, 12%);
    cursor: default;
  }
}

.toggle-floors__badge {
  pointer-events: none;
}

.toggle-floors__badge-caption {
}

.toggle-floors__badge-value {
  position: absolute;
  top: 2px;
  right: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 14px;
  height: 14px;
  padding: 0 2px;
  font-size: 10.5px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  background-color: $primary-color;
  border: 1px solid rgba(#ffffff, 0.25);
  border-radius: 14px;
  box-sizing: border-box;

  &:empty {
    display: none;
  }

  &--free {
    color: var(--grey-20);
    background-color: var(--aeroplan-place-fill-free);
  }
}
