.zoom-actions {
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(#000000, 0.1),
              0 0 20px rgba(#000000, 0.1);
}

.zoom-actions__button {
  display: block;
  padding: 12px;
  color: var(--aeroplan-zoom-control-text-color);
  background-color: var(--bg-color);
  border: none;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  box-sizing: border-box;

  border-right: 1px solid var(--aeroplan-zoom-control-border-color);

  &:last-child {
    border-right: none;
  }

  &:hover {
    color: var(--text-color-muted);
  }

  &:active {
    color: var(--text-color);
    transition-duration: 0.1s;
  }
}

.zoom-actions__button-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  pointer-events: none;
}
