.accordion {
  border: 1px solid var(--accordion-border-color);
  border-radius: 4px;
  overflow: hidden;
}

.accordion__heading {
  margin: 0;
  border-left: none;
  border-right: none;
  border: none;
  border-top: 1px solid var(--accordion-border-color);

  &:first-child {
    border-top: none;
  }
}

.accordion__trigger {
  padding: 16px;
  padding-right: 44px;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--accordion-trigger-bg-color);

  &::after {
    border-top-width: 0.4em;
    border-left-width: 0.25em;
    border-right-width: 0.25em;
    border-top-color: var(--text-color);
    opacity: 0.4;
  }

  &:hover,
  &:focus {
    color: var(--text-color);
    background-color: var(--accordion-trigger-bg-color-hover);
    outline: none;

    &::after {
      border-top-color: var(--text-color);
      opacity: 0.8;
    }
  }

  &:focus {
    box-shadow: none;
  }

  &[aria-expanded="true"] {
    color: #ffffff;
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 4%);
    }

    &::after {
      border-top-color: #ffffff;
      opacity: 1;
    }
  }
}
