.aside-info {
  position: sticky;
  top: calc(#{$site-header-bottom-stuck-height} + 20px);
  bottom: 20px;
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: 0.075em;
}

.aside-info__list {
  @include clear-list();
}

.aside-info__item {
  display: flex;
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.aside-info__item-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
}

.aside-info__item-content {
  flex-grow: 1;

  a {
    text-decoration: none;
    color: currentColor;
    outline: none;

    &:hover,
    &:focus {
      color: $primary-color;
    }

    &:focus-visible {
      @include keyboard-focus-rule();
    }
  }
}

.aside-info__floor {
  font-weight: 400;
  font-size: 24px;
}

.aside-info__floor-figure {
  font-size: em(72px, 24px);
  line-height: 1;
}

.aside-info__button {
  width: 100%;
  max-width: 252px;
}

.aside-info__worktime {
  max-width: 228px;
}
