.aside-info {
  position: sticky;
  top: 20px;
  bottom: 20px;
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: 0.075em;
}

.aside-info__list {
  @include clear-list();

  @include mq-min(375px) {
    max-width: 252px;
  }
}

.aside-info__item {
  display: flex;
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.aside-info__item-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
}

.aside-info__item-content {
  flex-grow: 1;

  a {
    text-decoration: none;
    color: $primary-color;
  }
}

.aside-info__floor {
  font-size: 24px;
  font-weight: 400;
}

.aside-info__floor-figure {
  font-size: em(72px, 24px);
  line-height: 1;
}

.aside-info__button {
  width: 100%;
}
