.button {
  appearance: none;
  display: inline-flex;
  align-items: center;
  min-width: 220px;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: $primary-font;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  background-origin: border-box;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  user-select: none;
  transition: 0.2s;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--button-text-color);
    background-color: var(--button-bg-color-hover);
  }

  &:active {
    opacity: 0.8;
  }

  &--fluid {
    width: 100%;
  }
}

.button__icon-holder {
  position: relative;
  width: 16px;
  height: 100%;
  flex-shrink: 0;

  &--left {
    margin-right: 16px;
  }

  &--right {
    margin-left: 16px;
  }
}

.button__icon {
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translate3d(0, -50%, 0);
  fill: currentColor;
}
