.choose-rent-type-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 20px;
  text-align: center;
  box-sizing: border-box;

  @include mq-min(667px) {
    padding: 36px;
  }

  @include mq-min(768px) {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.choose-rent-type-item__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.choose-rent-type-item__icon {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  display: block;

  @include mq-max(666px) {
    display: none;
  }
}

.choose-rent-type-item__text {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;

  @include mq-min(667px) {
    margin-bottom: 40px;
  }
}

.choose-rent-type-item__button {

}
