.common-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.common-section__header {
  position: relative;
  margin-bottom: 36px;
  padding-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 5px;
    background-color: $accent-color;
  }

  @include mq-min(667px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.common-section__title {
  position: relative;
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
}

.common-section__header-side {
  margin-top: 4px;

  @include mq-min(667px) {
    margin-top: 0;
    margin-left: 28px;
  }
}
