.common-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.common-section__header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 36px;
  padding-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 5px;
    background-color: $accent-color;
  }
}

.common-section__title {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
}

.common-section__header-side {
  margin-left: 30px;
}
