.common-slider-button {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  transform: translateY(-50%);
  color: $base-color;
  background-color: #ffffff;
  box-shadow: 0 14px 25px 19px rgba(#212121, 0.4);
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  user-select: none;

  &:hover {

  }

  &:focus {

  }

  &:active {

  }

  &--prev {
    left: 16px;
  }

  &--next {
    right: 16px;
  }

  .swiper-has-one-slide & {
    display: none;
  }

  &.swiper-button-disabled {
    opacity: 0.6;
    cursor: default;
  }

  @include mq-min(768px) {
    &--prev {
      left: 20px;
    }

    &--next {
      right: 20px;
    }
  }

  @include mq-min(1024px) {
    width: 60px;
    height: 60px;

    &--prev {
      left: 24px;
    }

    &--next {
      right: 24px;
    }
  }
}

.common-slider-button__icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: currentColor;
}
