.common-filter-option {
}

.common-filter-option__button {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 16px;
  appearance: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  outline: none;

  .common-filter-option--active & {
    background-color: var(--common-filter-option-bg-color);
  }

  @include mq-min(768px) {
    padding: 0;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      left: -8px;
      right: -8px;
      bottom: -8px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px;
      z-index: -1;
      height: 2px;
      transform: translateY(2px);
      transform-origin: bottom;
      background-color: var(--link-decor-stripe-bg-color);
      opacity: 0;
      transition: 0.2s;
    }

    .common-filter-option:not(.common-filter-option--active) &:hover {
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .common-filter-option:not(.common-filter-option--active) &:focus-visible {
      @include keyboard-focus-rule();
    }

    .common-filter-option--active & {
      color: $primary-color;
      background-color: transparent;
      cursor: default;
    }
  }
}
