.contact-shops-timetable-item {
  display: grid;
  gap: 12px;
  align-items: baseline;

  @include mq-min(400px) {
    gap: 20;
    grid-template-columns: 1fr 1fr;
  }
}

.contact-shops-timetable-item__name {
  margin: 0;
  font-size: 18px;
  text-transform: none;
}

.contact-shops-timetable-item__worktime {
  max-width: 220px;

  & > p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }
}
