.contact {

}

.contact__row {
  padding-top: 28px;
  padding-bottom: 28px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.contact__worktime {
  max-width: 220px;
}

.contact__address {
  font-size: 16px;
}
