.events-slide {
  overflow: hidden;

  @include mq-min(1024px) {
    border-radius: 5px;
  }
}

.events-slide__wraplink {
  display: block;
}

.events-slide__picture {
  filter: brightness(var(--brightness-image-filter));
  transition: filter 0.4s;

  .events-slide__wraplink:hover &,
  .events-slide__wraplink:focus & {
    --brightness-image-filter: 100%;
  }
}
