.events-cards {
  @include clear-list();

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  gap: 28px 20px;

  @include mq-min(768px) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  @include mq-min(1280px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 8vmin 4vmin;
  }
}

.events-cards__item {
  transition: 0.2s;

  &--hidden {
    position: absolute;
    opacity: 0;
    max-width: 0;
    max-height: 0;
    pointer-events: none;
  }
}
