.events-cards {
  @include clear-list();

  display: grid;
  grid-gap: 28px 20px;

  @include mq-min(375px) {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  @include mq-min(768px) {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  @include mq-min(1280px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 8vmin 4vmin;
  }
}

.events-cards__item {
  transition: 0.3s;

  &--hidden {
    position: absolute;
    opacity: 0;
    max-width: 0;
    max-height: 0;
    pointer-events: none;
  }
}

// .events-cards__item {
//   margin-bottom: 32px;
//   float: left;

//   @include mq-range(375px, 567px) {
//     @include calc-column-width(2, 20px);
//   }

//   @include mq-range(568px, 1023px) {
//     @include calc-column-width(3, 20px);
//   }

//   @include mq-min(1024px) {
//     @include calc-column-width(4, 20px);
//   }
// }
