.field {
  display: flex;
  flex-direction: column;

  &--inline {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
  }

  .input.error {
    border-color: var(--field-border-color-danger);
  }

  label.error {
    position: absolute;
    left: 0;
    top: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    color: var(--field-text-color-danger);
    background-color: var(--field-bg-color-danger);
    user-select: none;
  }
}

.field__label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: var(--text-color-muted);
  text-transform: uppercase;

  .field--inline & {
    margin-bottom: 0;
  }

  .field--required &::after {
    content: "*";
    font-size: rem(14);
    color: $danger-color;
  }
}

.field__control {
  position: relative;
  display: block;
  width: 100%;
}

.field__input {

}

.field__text {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.25;
  color: $muted-color;
}
