.footer-contact {
  @include clear-list();

  display: flex;
  flex-direction: column;
  font-size: 16px;

  @include mq-min(768px) {
    flex-direction: row;
    font-size: 13px;
    line-height: 1.25;
  }
}

.footer-contact__item {
  display: flex;
  flex-grow: 1;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq-min(768px) {
    flex-direction: column;
    margin-right: 48px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-contact__item-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  fill: $muted-color;

  @include mq-min(768px) {
    width: 16px;
    height: 16px;
    margin-bottom: 12px;
  }
}

.footer-contact__item-text {
  @include mq-min(768px) {
    max-width: 180px;
    line-height: 1.14;
  }
}

.footer-contact__item-link[href] {
  text-decoration: none;
  color: $base-color;
  border-bottom: 1px solid rgba($base-color, 0.1);
  outline: none;

  &:hover,
  &:focus {
    color: $base-color;
    border-bottom-color: rgba($base-color, 0.4);
  }

  &:focus-visible {
    @include keyboard-focus-rule();
  }
}
