.footer-grid {

}

.footer-grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;

  &--align-center {
    align-items: center;
  }

  @include mq-min(768px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.footer-grid__column {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 36px;
  box-sizing: border-box;

  @include mq-min(768px) {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mq-range(768px, 1023px) {
    &--tablet-one-half {
      width: calc(100% / 2);
    }

    &--tablet-one-third {
      width: calc(100% / 3);
    }
  }

  @include mq-min(1024px) {
    &--laptop-one-half {
      width: 50%;
    }

    &--laptop-one-quarter {
      width: 25%;
    }
  }
}
