.form-section {
  min-width: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  border: 0;

  &--has-bg {

  }

  & + & {
    margin-top: 20px;
  }
}

.form-section__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
}
