.header-search-form {
  position: relative;
  display: flex;
}

.header-search-form__input {
  padding-right: calc(62px + 16px);
  line-height: 44px;
  font-weight: 400;
  font-size: 24px;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &::-ms-clear {
    display: none;
  }

  @include mq-min(768px) {
    padding: 12px 16px;
    padding-right: calc(88px + 16px);
    line-height: 62px;
    font-size: 48px;
    background-color: transparent;
    border-color: transparent;
    border-left-color: $accent-color;
    border-radius: 0;

    &:hover {
      background-color: transparent;
    }

    &:focus {
      border-color: transparent;
      border-left-color: $accent-color;
    }
  }
}

.header-search-form__submit {
  appearance: none;
  position: absolute;
  display: flex;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 100%;
  padding: 0;
  border: none;
  color: var(--text-color);
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  border-radius: 2px;
  opacity: 0.5;
  outline: none;
  transition: 0.2s;
  cursor: pointer;

  @include mq-min(768px) {
    width: 88px;

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 1;
      transition-duration: 0.1s;
    }
  }
}

.header-search-form__submit-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin: auto;
  fill: currentColor;
}
