.header-contact {
  @include clear-list();

  display: flex;
  justify-content: space-between;
}

.header-contact__item {
  display: flex;
  align-items: center;
  line-height: 1.15;

  a {
    text-decoration: none;
    color: currentColor;
  }
}

.header-contact__icon {
  flex-shrink: 0;
  margin-right: 16px;
  fill: currentColor;
}

.header-contact__text {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
