.header-search {

}

.header-search__toggle {
  position: relative;
  z-index: 5;
  padding: 10px;
  border-radius: 50%;
  background-color: $gray-234;
  border: none;
  outline: none;
  transition: 0.2s;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($gray-234, 4%);
  }

  &:focus-visible {
    @include keyboard-focus-rule();
  }

  &:active {
    opacity: 0.7;
  }
}

.header-search__toggle-icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.header-search__form-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  background-color: #ffffff;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  will-change: transform, visibility, opacity;

  .is-header-search-showed & {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.header-search__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
}

.header-search__form {

}

.header-search__result {

}

.header-search__result-empty {
  display: none;
  max-width: 500px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.15;
}
