.movies-cards {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  gap: 20px;
  margin-right: -20px;

  @supports (display: grid) {
    margin-right: initial;
  }

  @include mq-min(768px) {
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  }

  @include mq-min(1024px) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  @include mq-min(1280px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.movies-cards__item {
  width: 240px;
  margin-right: 20px;
  margin-bottom: 20px;

  @supports (display: grid) {
    width: auto;
    margin-right: initial;
    margin-bottom: initial;
  }
}
