.movie-schedule-hall {
  display: flex;
  align-items: baseline;
}

.movie-schedule-hall__title {
  flex-shrink: 0;
  width: 64px;
  margin: 0;
  margin-right: 40px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-muted);

  @include mq-min(1280px) {
    width: 160px;
  }
}

.movie-schedule-hall__session-list {
}
