.movie-schedule-session-list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
}

.movie-schedule-session-list__item {
  margin-right: 20px;
  margin-bottom: 12px;

  a {
    display: block;
    padding: 4px;
    text-decoration: none;
    color: var(--text-color);
    outline: none;

    &:focus-visible {
      @include keyboard-focus-rule();
    }
  }
}
