.movies-cards {
  @include clear-list();

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  grid-gap: 20px;

  @include mq-min(768px) {
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  }

  @include mq-min(1024px) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  @include mq-min(1280px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.movies-cards__item {
}
