.movies-cards {
  @include clear-list();

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 20px;

  @include mq-min(768px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @include mq-min(1024px) {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.movies-cards__item {
}
