.out-cover-secondary-menu {
}

.out-cover-secondary-menu__list {
  @include clear-list();

  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  li {
  }

  a {
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    white-space: nowrap;
    color: $base-color;
    transition: 0.2s;

    &:hover,
    &:focus {
      color: $primary-color;
    }
  }

  @include mq-min(667px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq-min(768px) {
    gap: 20px;
  }

  @include mq-min(1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq-min(1280px) {
    gap: 28px;
    font-size: 24px;
  }
}
