$out-cover-toggle-line-height: 3px;
$padding-cover-toggle: 8px;

.out-cover-toggle {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  padding: $padding-cover-toggle;
  border: none;
  color: currentColor;
  box-sizing: content-box;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: $padding-cover-toggle;
    right: $padding-cover-toggle;
    height: $out-cover-toggle-line-height;
    margin: auto;
    background-color: currentColor;
    transition: top $duration $duration, bottom $duration $duration, transform $duration;
  }

  &::before {
    top: $padding-cover-toggle;
  }

  &::after {
    bottom: $padding-cover-toggle;
  }

  &--fired {
    &::before,
    &::after {
      transition: top $duration, bottom $duration, transform $duration $duration;
    }

    &::before {
      top: calc(50% - #{$out-cover-toggle-line-height / 2});
      transform: rotate(-45deg) scale(1.1);
    }

    &::after {
      bottom: calc(50% - #{$out-cover-toggle-line-height / 2});
      transform: rotate(45deg) scale(1.1);
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.out-cover-toggle__line {
  position: absolute;
  left: $padding-cover-toggle;
  top: $padding-cover-toggle;
  right: $padding-cover-toggle;
  bottom: $padding-cover-toggle;
  height: $out-cover-toggle-line-height;
  margin: auto;
  background-color: currentColor;
  transition: $duration;

  .out-cover-toggle--fired & {
    opacity: 0;
  }
}
