.page {
  // padding-top: calc(#{$site-header-top-mobile-height} + 40px);

  &--pull-top {
    margin-top: calc((#{$site-header-top-mobile-height} + 40px) * -1);
  }

  @include mq-min(768px) {
    &--pull-top {
      margin-top: calc((#{$site-header-top-tablet-height} + 40px) * -1);
    }
  }

  @include mq-min(1024px) {
    &--pull-top {
      margin-top: calc((#{$site-header-laptop-height} + 60px) * -1);
    }
  }
}
