.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-bottom: 40px;
  padding-top: 252px;
  padding-bottom: 20px;
  box-sizing: border-box;

  &--has-banner {
    color: #ffffff;
  }
}

.page-header__inner {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.page-header__picture {
  @include make-fit-object(1, 1, contain);

  width: 148px;
  flex-shrink: 0;
  margin-right: 32px;
  border: 1px solid $gray-234;
  border-radius: 4px;

  a {
    text-decoration: none;
  }

  @include mq-max(666px) {
    display: none;
  }
}

.page-header__content {

}

.page-header__title {

}

.page-header__subtitle {
  margin: 0;
  margin-top: 8px;
  font-size: 18px;
}
