.popup {
  width: calc(100% - 16px);
  padding: 20px;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 4px;

  &--wide {
  }

  @include mq-min(667px) {
    max-width: 500px;
    padding: 40px;

    &--wide {
      max-width: 620px;
    }
  }
}

.popup__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
}
