.preview-event {
  &--is-slide {
  }
}

.preview-event__wraplink {
  display: block;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
  border-radius: 10px;

  &:hover,
  &:focus {
    color: #ffffff;
  }
}

.preview-event__picture {
  @include make-fit-object(1, 1);

  filter: brightness(var(--brightness-image-filter));
  transition: filter 0.4s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000000, rgba(#000000, 0) 54%);
  }

  .preview-event__wraplink:hover &,
  .preview-event__wraplink:focus & {
    --brightness-image-filter: 100%;
  }
}

.preview-event__cover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  max-height: calc(100% - 20px * 2);
  padding: 20px;
  overflow-y: auto;
}

.preview-event__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.preview-event__meta {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.preview-event__date {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 4px 12px;
  vertical-align: middle;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $accent-color;
  transition: 0.2s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 100%;
    transform-origin: 0 100%;
    transform: skewY(22deg);
    background-color: #a9366e;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: inherit;
  }

  .preview-event--is-slide & {
    opacity: 0;
    visibility: hidden;
  }

  .preview-event--active & {
    opacity: 1;
    visibility: visible;
  }
}

.preview-event__date-text {
  position: relative;
  z-index: 2;
}
