.search-result-item {
}

.search-result-item__wraplink {
  display: block;
  text-decoration: none;
  color: $base-color;
  transition: 0.2s;

  &:hover,
  &:focus {
  }
}

.search-result-item__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;

  b {
    font-weight: 700;
  }

  .search-result-item__wraplink:hover &,
  .search-result-item__wraplink:focus & {
    color: $accent-color;
    transition: 0.2s;
  }
}

.search-result-item__tags {
  margin: 0;
  margin-bottom: 12px;

  span {
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
    text-transform: lowercase;
    letter-spacing: 0.075em;
  }
}

.search-result-item__text {
  margin: 0;
  font-weight: 400;

  b {
    font-weight: 700;
  }
}
