.search-form {
}

.search-form__field {
  position: relative;
  display: flex;
}

.search-form__input {
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: calc(56px + 12px);
  font-weight: 300;
  font-size: 32px;
  line-height: 1;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &::-ms-clear {
    display: none;
  }

  &:hover,
  &:focus {
    border-color: transparent;
  }

  @include mq-min(768px) {
    padding-right: calc(84px + 12px);
    font-size: 56px;
  }

  @include mq-min(1024px) {
    padding-right: calc(103px + 12px);
    font-size: 72px;
  }
}

.search-form__submit {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: $border-radius;
  appearance: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;

  @include mq-min(768px) {
    width: 84px;
  }

  @include mq-min(1024px) {
    width: 103px;
  }
}

.search-form__submit-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin: auto;
  fill: var(--search-icon-fill);
  opacity: 0.5;
}

.search-form__text {
  display: none;
  margin: 0;
  font-weight: 400;
  color: $muted-color;
}
