.section-header-link {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--link-text-color);

  &:hover,
  &:focus {
    color: var(--link-text-color-hover);
  }

  &:focus-visible {
    @include keyboard-focus-rule();
  }
}

.section-header-link__text {
}

.section-header-link__icon {
  position: relative;
  top: -1px;
  display: block;
  width: calc(16 / 12 * 1em);
  height: calc(16 / 12 * 1em);
  margin-left: 8px;
  fill: currentColor;
}
