.select {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    z-index: 2;
    width: 6px;
    height: 6px;
    margin: auto;
    transform: rotate(45deg);
    background-color: transparent;
    border: 2px solid $gray-122;
    border-top: none;
    border-left: none;
    transition: $duration;
    pointer-events: none;
  }

  &:focus-within {
    &::before {
      transform: rotate(-135deg);
      border-right-color: $gray-122;
      border-bottom-color: $gray-122;
    }
  }

  select {
    appearance: none;
    width: 100%;
    max-height: 150px;
    padding: 12px;
    font: inherit;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    resize: vertical;
    background-color: $gray-245;
    border: 1px solid $gray-214;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    transition: 0.2s;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }

    &:hover {
      background-color: $gray-234;
    }

    &:focus {
      background-color: #ffffff;
      border-color: #999999;
    }
  }

  option {
    font-weight: normal;
    font-size: 20px;
  }
}
