.site-header {
  body:not(.home) & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.site-header__top {
  position: relative;
  z-index: 15;
}

.site-header__top-container {
}

.site-header__bottom {
  position: relative;
  z-index: 1;

  @include mq-max(1023px) {
    display: none;
  }
}

.site-header__sentinel {
  position: absolute;
  top: $site-header-laptop-height;
  pointer-events: none;
}
