.site-logo {
}

.site-logo__link {
  display: block;
  text-decoration: none;
  outline: none;

  &:focus-visible {
    @include keyboard-focus-rule();
  }
}

.site-logo__svg {
  .white-header:not(.is-header-search-showed):not(.is-out-cover-opened) & {
    path {
      --logo-fill: #ffffff;
      fill: #ffffff;
    }
  }
}

.site-logo__stop {
  animation: stop-colors 3s infinite linear;

  &:nth-child(1) {
    stop-color: #e7418f;
  }

  &:nth-child(2) {
    stop-color: #715ba2;
    animation-delay: -1s;
  }

  &:nth-child(3) {
    stop-color: #75c4ee;
    animation-delay: -2s;
  }
}

@keyframes stop-colors {
  0% {
    stop-color: #e7418f;
  }
  33.33% {
    stop-color: #715ba2;
  }
  66.66% {
    stop-color: #75c4ee;
  }
  100% {
    stop-color: #e7418f;
  }
}
