.site-header-top {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--layout-border-color);

  .white-header & {
    color: #ffffff;
  }

  .is-out-cover-opened &,
  .is-header-search-showed & {
    color: var(--text-color);
  }

  @include mq-min(768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.site-header-top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-top__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-right: 80px;
  box-sizing: border-box;

  @include mq-min(768px) {
    padding-right: 52px;
  }

  @include mq-min(1024px) {
    padding-right: 12%;
  }
}

.site-header-top__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-left: 80px;
  box-sizing: border-box;

  @include mq-min(768px) {
    padding-left: 52px;
  }

  @include mq-min(1024px) {
    padding-left: 12%;
  }
}

.site-header-top__search {
  margin-left: 44px;
  margin-right: 16px;

  @include mq-min(768px) {
    margin-left: 140px;
  }

  @include mq-min(1024px) {
    margin-left: initial;
  }

  @include mq-min(1280px) {
    margin-right: 64px;
  }
}

.site-header-top__contact {
  flex-grow: 0.2;

  @include mq-max(1023px) {
    display: none;
  }

  @include mq-min(1024px) {
    position: relative;
    z-index: 5;
    flex-grow: 0.5;
  }
}

.site-header-top__logo {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  flex-shrink: 0;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);

  @include mq-min(768px) {
    width: 140px;
  }

  @include mq-min(1024px) {
    z-index: 5;
    width: 160px;
  }

  @include mq-min(1280px) {
    width: 172px;
  }
}

.site-header-top__links {
  flex-grow: 0.2;

  @include mq-min(1024px) {
    position: relative;
    z-index: 5;
    flex-grow: 0.5;
  }
}

.site-header-top__additional-menu-toggle {
  flex-shrink: 0;
  margin-left: auto;

  @include mq-min(768px) {
    margin-left: 16px;
  }

  @include mq-min(1280px) {
    position: relative;
    z-index: 5;
    margin-left: 64px;
  }
}
