.socials {
}

.socials__list {
  @include clear-list();

  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 20px;
  text-decoration: none;
  border: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  position: relative;
  display: block;
  color: $base-color;
  transition: 0.2s;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

.socials__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
